.reloadButton {
    color: rgb(3, 3, 20); font-size: 18px; line-height: 18px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; 
}

.returnToTheMainPage {
    color: rgb(3, 3, 20); font-size: 18px; line-height: 18px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; 
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    height: 610px;
    justify-content: space-between;
    background-color: black;
}

.grid div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-bottom: 5px;
}

.playerX {
   background-image: url('x.jpg'); 
}

.playerO {
    background-image: url('o.jpg');
}

   /******************************
    screen sizes
  *******************************/

  /* mobile first!! */
  @media all and (min-width: 320px) {
    body {
      flex-direction: column;
  }
  }
  @media all and (min-width: 640px) {
    body {
      flex-direction: column;
    }
  }

  @media all and (min-width: 769px) {
    body {
      flex-direction: row;
    }
  }
  
  @media all and (min-width: 1030px) {
    body { flex-direction: row; }
  }
  